.app-header .header-inner {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  width: stretch;
}

.app-header .brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header .brand .brand-main {
  display: block;
}

.app-header .brand .brand-sub {
  display: none;
}

#menu-open {
  display: none;
}

@media (max-width: 900px) {
  .app-header .brand .brand-main {
    display: none;
  }

  .app-header .brand .brand-sub {
    display: block;
    font-weight: var(--font-weight-normal);
  }

  #menu-open {
    display: flex;
  }
}