#start {
    position: absolute;
    inset: 0;
    background: var(--surface-0);
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.hero-card {
    display: grid;
    gap: var(--space-4);
    grid-template-areas:
        "title"
        "description"
        "actions";
    
    grid-template-rows: 1fr 1fr 1fr;
    padding-right: var(--safe-right);
    padding-left: var(--safe-left);
    padding-top: var(--safe-top);
    padding-bottom: var(--safe-bottom);
    align-items: center;
    max-width: 400px;
}



.hero-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title-top {
    font-size: 1em;
}

.hero-title-brand {
    font-size: 2em;
}

.hero-description{
    grid-area: description;
    text-align: center;
    margin: 0;
    align-self: flex-start;
}

.hero-actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    justify-content: center;
}