#start {
    position: absolute;
    inset: 0;
    background: var(--surface-0);
    display: flex;
    justify-content: center;
    align-items: center;
}



.hero-card {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "title"
        "description"
        "actions";
    max-width: 380px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.hero-title-top {
    font-size: 1em;
    transform: translateX(3px);
    line-height: 1;
}

.hero-title-brand {
    font-size: 2em;
    line-height: 1;
}

.hero-card p{
    transform: translateX(3px);
}


.hero-actions {
    grid-area: actions;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
}



/* Mobile adjustment */
@media (max-width: 900px) {
    .hero-card {
        width: 85%;
    }
}